* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.section {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 3em;
  font-family: arial;
  display: flex;
  justify-content: center;
}

#one {
  background-color: rgb(194, 74, 74);
}

#two {
  background-color: rgb(194, 178, 74);
}

#three {
  background-color: rgb(74, 194, 104);
  position: relative;
}
#three h1 {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
}
#three span {
  width: 300px;
  height: 300px;
  position: absolute;
  pointer-events: none;
  animation: animate 4s infinite linear;
  background-image: url(../img/18963036_01.png);
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "font";
  src: url(../No.023-Sounso-Undividedad-2.ttf);
}
#four {
  position: relative;
  background: #000;
  cursor: default;
}
#four h1 {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
  mix-blend-mode: multiply;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  font-size: 150px;
  font-weight: bolder;
  align-items: center;
  font-family: font;
}
#four .dot {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#four video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#five {
  background-color: rgb(156, 74, 194);
}

.face {
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face .eyes {
  position: relative;
  top: -40px;
  display: flex;
}
.face .eye {
  position: relative;
  width: 80px;
  height: 80px;
  background: #fff;
  margin: 0 15px;
  border-radius: 50%;
}

.face::before {
  content: "";
  position: absolute;
  top: 180px;
  width: 150px;
  height: 70px;
  background: #b57700;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s;
}

.face:hover::before {
  top: 210px;
  width: 150px;
  height: 20px;
  background: #b57700;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.eyes .eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}

#monalisa {
  background-image: url("../img/dtumwslpix6vmt7449r8titbpwgyuv.jpg");
  height: 100vh;
  background-position: 100px;
}
#monalisa #eyes {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 185px;
  left: -55px;
}
#monalisa #eyes .ball {
  width: 25px;
  height: 25px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }
  5%, 95% {
    opacity: 1;
    transform: translate(50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }
}
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #66ceff;
  background-image: url(../img/cool-loading-animated-gif-1.gif);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.5s;
}

@keyframes bite {
  0% {
    -webkit-clip-path: polygon(0% 74%, 8% 63%, 18% 62%, 26% 65%, 31% 75%, 36% 87%, 34% 96%, 33% 100%, 14% 100%, 7% 100%, 1% 100%, 0% 100%);
            clip-path: polygon(0% 74%, 8% 63%, 18% 62%, 26% 65%, 31% 75%, 36% 87%, 34% 96%, 33% 100%, 14% 100%, 7% 100%, 1% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: circle(17% at 68% 32%);
            clip-path: circle(17% at 68% 32%);
  }
}
#cookie {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=index.css.map */